.header {
  height: 120px;
  padding: 39px 0 40px 0;
  background: linear-gradient(rgb(10, 68, 216), rgb(10, 60, 191));
  &__content {
    display:flex;
    align-items: center;
  }
  &__links {
    margin-right: 45px;
    @include font("Poppins", 10px, 600, white);
  }
  &__links:last-child {
    margin-right: 37px;
  }
  &__sign-up {
    width: 125px;
    height: 30px;
    @include font("Poppins", 10px, 600, rgb(11, 75, 236));
    border-radius: 10px;
    border: 0;
  }
}