.footer{
  background-image: url("/src/images/bg-results.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 129px;
  padding: 41px 0 73px 0;  
  display: flex;
  justify-content: center;
  @include font("Poppins", 14px, 400, white);
}
