.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 58px;
  flex-wrap: wrap;
  height: 210px;
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
    max-width: 550px;
  }
  &__column:nth-child(2) {
    .form__input {
      height: 130px;
    }
  }
  &__input {
    height: 50px;
  }
  
  &__submit {
    max-width: 550px;
    height: 50px;
  }
}