.form {
  display: flex;
  flex-direction: column;
  margin-top: 58px;
  flex-wrap: wrap;
  height: 210px;
  column-gap: 30px;
  margin-bottom: 30px;
  &__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
  }
  &__column:nth-child(2) {
    .form__input {
      height: 130px;
    }
  }
  &__input {
    height: 50px;
  }
  
  &__submit {
    @include font("Raleway", 14px, 400, white);
    background: rgb(11, 75, 236);
    height: 50px;
    border: 0;
  }
}