@include desktop {
  .arrow {
    height: 270px;
    background-color: rgb(67, 1, 245, 0.7);
    object-fit: contain;
    top: 300px;
    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
  }
}


@media(max-width: 1190px){
  .arrow {
    background-color: unset;
    &_left {
      left: 15px;
    }
    &_right {
      right: 15px;
    }
  }
}