@media(max-width: 1190px){
  .carousel {
      max-width: 870px;
  }
}

@media(max-width: 990px){
  .carousel {
    max-width: 570px;
  }
}

@media(max-width: 690px){
  .carousel {
    max-width: 270px;
  }
}