.carousel {
  column-gap: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &__img {
    object-fit: contain;
  }
  &__title {
    padding: 34px 43px 31px;
    text-align: center;
    @include font("Poppins", 19px, 400, rgb(51, 51, 51));
  }
}