.grid {
  margin-top: 141px;
  display: flex;
  padding-bottom: 244px;
  align-items: center;
  gap: 30px;

  &__item {
    display: flex;
    flex-direction: column;
    padding: 49px 35px;
    background-color: white;
    align-items: center;
  }
  &__image {
    max-width: 100px;
  }
  &__title {
    @include font("Poppins", 20px, 600, black);
    margin-top: 27px;
  }
  &__subtitle {
    text-align: center;
    @include font("Raleway", 14px, 400, rgb(179, 179, 179));
    line-height: 30px;
    margin-top: 35px;
  }
  &__item:hover {
    background: linear-gradient(rgb(10, 68, 216), rgb(7, 29, 104));
    padding: 79px 35px;
    transition: 1s ease;
  }
  &__item:hover &__title {
    color: white;
  }
  &__item:hover &__subtitle {
    color: white;
  }
}

