.results {
  background-image: url("/src/images/bg-results.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 175px 0 181px 0;
  // max-height: 550px;
  &__content {
    margin:auto;
    max-width: 1170px;

    display:flex;
    justify-content: space-between;
  }
}